.missionsCard {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.missionsHeader {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  align-self: flex-start;
}

.missionsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid #6d757e;
  border-radius: 5px;
}

.mission {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #6d757e;
}
